 @model Repository.Models.Prodect1

@{
    ViewData["Title"] = "Delete Product";
}
<h1>Delete</h1>

<h3>Are you sure "Hamza" you want to delete this item ?</h3>

<form method="post" action="Delete">
     <div class="card">
        <div class="card-header bg-info">
            <h2 class="text-center">@ViewData["Title"]</h2>
        </div>
        <div class="card-body">
              <input type="hidden" asp-for="Id" />
            <div class="form-floating mb-2">
                <input asp-for="ProdectName" class="form-control" readonly />
                <label asp-for="ProdectName"></label>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Price" class="form-control" readonly />
                <label asp-for="Price"></label>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Qty" class="form-control" readonly />
                <label asp-for="Qty"></label>
            </div>   
            <div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-danger">OK</button>
                </div>
            </div>
         </div>
    </div> 
    <a asp-action="Index">Back to List</a>
</form>